.country-card {
  width: 500px;
  padding: 10px 5px;
  margin: 50px auto;
}
.input {
  display: block;
  width: 500px;
  height: 30px;
  font-size: 18px;
  margin: 0 auto 50px;
  outline-color: darkgray;
}

p,
ul {
  padding-left: 0;
  font-size: 18px;
  font-weight: 600;
}

.country-container {
  position: relative;
}

.country-flag-img {
  position: absolute;
  width: 320px;
  top: 70px;
  right: 0;
}

.country-name {
  text-align: center;
  font-size: 32px;
}

.text {
  font-weight: 400;
}

.country-languages,
.countries-list {
  list-style-position: inside;
}

.countries-list li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.country-languages li {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: 400;
}
